examples/form-data.json
[{"id":"fb144c8a78e3d779","type":"tab","label":"axios form-data","disabled":false,"info":"","env":[]},{"id":"d10fd1e59abd74e1","type":"inject","z":"fb144c8a78e3d779","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":160,"wires":[["d68dcbb69050d699"]]},{"id":"4c709069a6a4ecf9","type":"http in","z":"fb144c8a78e3d779","name":"","url":"/sample/file","method":"post","upload":true,"swaggerDoc":"","x":170,"y":260,"wires":[["87e56229f7a3d95d","10217e50f0d6f5cc","0144ad86c1fe6d5f"]]},{"id":"43c4fb9b811c8ffc","type":"http response","z":"fb144c8a78e3d779","name":"","statusCode":"200","headers":{},"x":900,"y":260,"wires":[]},{"id":"b05f9e3cb2a60106","type":"axios-request","z":"fb144c8a78e3d779","name":"","endpoint":"a45cedffe9f343a9","method":"post","url":"/sample/file","responseType":"json","keepAlive":false,"timeout":30000,"validateStatus":false,"x":510,"y":160,"wires":[["f5482de8ce4328fe"]]},{"id":"d68dcbb69050d699","type":"function","z":"fb144c8a78e3d779","name":"formdata","func":"msg.payload = new FormData();\nmsg.payload.append(\"text\", \"hellow world\");\nmsg.payload.append(\"file\", fs.createReadStream(\"./sample.pdf\"));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"FormData","module":"form-data"},{"var":"fs","module":"fs"}],"x":320,"y":160,"wires":[["b05f9e3cb2a60106"]]},{"id":"f5482de8ce4328fe","type":"debug","z":"fb144c8a78e3d779","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":160,"wires":[]},{"id":"87e56229f7a3d95d","type":"debug","z":"fb144c8a78e3d779","name":"get content-type","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.headers.content-type","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":300,"wires":[]},{"id":"b9df9f52f8c52933","type":"file","z":"fb144c8a78e3d779","name":"","filename":"./sample-received.pdf","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":520,"y":260,"wires":[["cc6e38284a736e97"]]},{"id":"10217e50f0d6f5cc","type":"function","z":"fb144c8a78e3d779","name":"get file","func":"msg.payload = msg.req.files[0].buffer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":260,"wires":[["b9df9f52f8c52933"]]},{"id":"cc6e38284a736e97","type":"change","z":"fb144c8a78e3d779","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":260,"wires":[["43c4fb9b811c8ffc"]]},{"id":"0144ad86c1fe6d5f","type":"debug","z":"fb144c8a78e3d779","name":"get form field text","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.text","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":340,"wires":[]},{"id":"a45cedffe9f343a9","type":"axios-endpoint","name":"","baseURL":"http://localhost:1880","caCertPath":"","rejectUnauthorized":true,"proxyEnabled":false,"proxyProtocol":"https","proxyHost":"","proxyPort":""}]